<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HydroExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HydroExplorer.Properties.Settings>
            <setting name="HdfPath" serializeAs="String">
                <value>txtBoxHdfPath_test</value>
            </setting>
			<setting name="HdfPathB" serializeAs="String">
				<value>txtBoxHdfPathB_test</value>
			</setting>
            <setting name="Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtBoxProjPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjPath" serializeAs="String">
                <value />
            </setting>
        </HydroExplorer.Properties.Settings>
    </userSettings>
</configuration>